.para1{
    background-color: aquamarine;
}

.para2{
    background-color:darksalmon;
}

.para3{
    background-color: cornsilk;
}

@media all and (min-width:801px){
    .container p{
        width:30%;
        float:left;
        padding:10px;
    }
    .para3{
        background-color: blueviolet;
    }
}

@media print{
    body{
        background-color: none;
    }
}

